.item-cart{
    margin: 2em auto;
}

.cart-list > li{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1.25em;
}

.cart-list > li + li {
    margin-top: 1.25em;
}

.cart-img-wrapper{
    height: 150px;
    width: 180px;
    overflow: hidden;
}

.cart-item-details{
    flex-grow: 1;
    max-width: 400px;
}

.cart-item-details h2{
    text-transform: capitalize;
}

.cart-item-details .price{
    font-size: 1.125rem;
}

.item-quantity{
    display: flex;
    align-items: center;
}

.item-quantity input{
    text-align: center;
    width: 10ch;
}

.cart-img-wrapper img{
    height: 100%;
}

.total{
    z-index: 2;
    top:0;
    position: sticky;
    background-color: #fff;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}

.total .btn-wrapper button, .total .btn-wrapper a, .nice-btn{
    background-color: transparent;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    font-weight: bold;
    font-size: .8rem;
    background: linear-gradient(135deg, #ff934b 0%,#ff5e62 100%);
    color: white;
    padding: .8em 1em;
    border: none;
    cursor: pointer;
    transition: background .2s ease;
    margin: .25em;
}

@media (max-width: 800px) {
    .cart-list > li {
        padding: 1em;
        flex-direction: column;
        max-width: 92vw;
        margin: 10px auto;
    }
    li h2{
        text-align: center;
    }
    li > * + * {
        margin-top: 1em;
    }
}